@model IEnumerable<Wlist.Models.ModeleVueFilm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresentDansListe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresentDansListe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFilm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFilm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFilm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
